#nav {
    width: 100%;
    background-color: greenyellow;
    border-color: black;
    border-style: solid;
}

li#right {
    float: right;
}

div#first {
    float: left;
    width: 40%;
    background-color: lightblue;
    border-style: solid;
    margin: 10px;

}

div#second {
    width: 40%;
    float: left;
    background-color: lightblue;
    border-style: solid;
    margin: 10px;

}

.container {
    width: 75%;
    margin: auto;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

@media all and (max-width: 500px) and (min-width: 300px) {
    div#first {
        float: left;
        width: 100%;
        background-color: lightblue;
        border-style: solid;
        margin: 10px;
    }

    div#second {
        width: 40%;
        float: left;
        background-color: lightblue;
        border-style: solid;
        margin: 10px;
    }
}



